*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    .container{
        width: 1300px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .logo{
            width: 212px;
            height: 25px;
            img{
                max-width: 100%;
                height: auto;
            }
        }
        .navbar{
            background-color: white;
            display: flex;
            padding: 40px 0px;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            justify-content: space-between;

            nav{
                margin-left: 300px;
                width: 600px;
                ul{
                    display: flex;
                    list-style: none;
                    justify-content: space-between;
                    li{
                        padding: 10px;
                        &:hover{
                            text-decoration: underline;
                        }
                        a{
                            text-decoration: none;
                            color: black;
                           
                    }
                    
                    }
                }
            }
            .items{
                margin-left: 20px;
                width: 140px;
                display: flex;
                justify-content: space-between;
                align-items:center;
                .lupa{
                    font-size: 20px;
                }
                .bag{
                    font-size: 20px;
                }
               
            }
            
        }
        
            
         
            
        }


    }
